@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.navbar {
  @apply text-xl fixed px-10;
  top: 30%;
}

.navbar-circle {
  @apply bg-black navbar-circle mr-2 rounded-full;
  width: 5px;
  height: 5px;
}

.navbar-button--active {
  @apply flex place-items-center outline-none;
}

.navbar-button--not-active {
  @apply block opacity-50 outline-none;
  padding-left: calc(5px + 0.5rem);
}

.navbar-button--not-active:hover {
  @apply opacity-100;
}

.navbar-button--active:focus,
.navbar-button--not-active:focus {
  @apply outline-none;
}

.social-links {
  @apply fixed px-10;
  bottom: 10%;
}

.social-links img {
  opacity: 0.5;
}

.social-links img:hover {
  opacity: 1;
}

.profile-pic-img {
  @apply w-full h-full object-cover;
  filter: grayscale(1);
}

.project-container {
  position: relative;
}

.project-container-desc {
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s;
}

.project-container:hover .project-container-desc {
  top: 0;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
